{% extends 'auth/layout.html' %}

{% block title %}Register{% endblock %}</h1>

{% block main %}
<div class="m-3 text-lg">
  Dashboard
</div>

<div class="flex flex-wrap justify-between">
  <div class="w-full lg:w-1/2 p-4">
    <a href="/products"
      class="p-4 border-b-4 border-indigo-500 flex justify-between items-center py-7 bg-white rounded">
      <div>
        <h3 class="text-xl font-regular">Total Products</h3>
        <span class="text-gray-600">{{total_products}} Products</span>
      </div>
      <i class="bx bx-right-arrow-alt text-2xl"></i>
    </a>
  </div>
  <div class="w-full lg:w-1/2 p-4">
    <a href="/products" class="p-4 border-b-4 border-red-500 flex justify-between items-center py-7 bg-white rounded">
      <div>
        <h3 class="text-xl font-regular">Products out of stock</h3>
        <span class="text-gray-600">{{products_out_of_stock}} Products</span>
      </div>
      <i class="bx bx-right-arrow-alt text-2xl"></i>
    </a>
  </div>
  <div class="w-full lg:w-1/2 p-4">
    <a href="/categories"
      class="p-4 border-b-4 border-blue-500 flex justify-between items-center py-7 bg-white rounded">
      <div>
        <h3 class="text-xl font-regular">Total Categories</h3>
        <span class="text-gray-600">{{total_categories}} Categories</span>
      </div>
      <i class="bx bx-right-arrow-alt text-2xl"></i>
    </a>
  </div>
  <div class="w-full lg:w-1/2 p-4">
    <a href="/categories"
      class="p-4 border-b-4 border-yellow-500 flex justify-between items-center py-7 bg-white rounded">
      <div>
        <h3 class="text-xl font-regular">Empty Categories</h3>
        <span class="text-gray-600">{{empty_categories}} Categories</span>
      </div>
      <i class="bx bx-right-arrow-alt text-2xl"></i>
    </a>
  </div>
</div>
{% endblock %}
