{% extends 'auth/layout.html' %}

{% block title %}Edit Product | Inventorify{% endblock %}

{% block main %}

<div class="m-3 text-lg">
  Products > Edit
</div>

{% with v_error = get_flashed_messages(category_filter=["validation_error"]) %}
<section class="flex justify-center">
  <div class="w-full lg:p-8 p-4 bg-white mt-2">
    <h3 class="text-xl">Add New Product</h3>
    <form method="POST" action="/products/edit/{{product.id}}" class="mt-5" enctype="multipart/form-data">
      {% with messages = get_flashed_messages(with_categories=True, category_filter=["app_error", "success"]) %}
      {% for category, message in messages %}
      {% if category == "success" %}
      <span class="my-3 text-green-500">{{ message }}</span>
      {% else %}
      <span class="my-3 text-red-500">{{ message }}</span>
      {% endif %}
      {% endfor %}
      {% endwith %}

      <div class="my-3">
        <label class="text-sm block">
          Name <span class="text-red-500">*</span>
        </label>
        <div class="mt-2">
          <input name="name" value="{{ product.name }}" type="text" class="px-2 py-1 lg:w-1/2 border border-gray-300"
            required />
        </div>
        {% if v_error and v_error[0] and v_error[0].errors and v_error[0].errors.form.name %}
        <span class="text-red-500">
          {{ v_error[0].errors.form.name[0] }}
        </span>
        {% endif %}
      </div>

      <div class="my-3">
        <label class="text-sm block">
          Price($) <span class="text-red-500">*</span>
        </label>
        <div class="mt-2">
          <input name="price" value={{ product.price }} type="number" class="px-2 py-1 lg:w-1/2 border border-gray-300"
            required />
        </div>
        {% if v_error and v_error[0] and v_error[0].errors and v_error[0].errors.form.price %}
        <span class="text-red-500">
          {{ v_error[0].errors.form.price[0] }}
        </span>
        {% endif %}
      </div>

      <div class="my-3">
        <label class="text-sm block">
          Quantity <span class="text-red-500">*</span>
        </label>
        <div class="mt-2">
          <input name="quantity" value={{ product.quantity }} type="number"
            class="px-2 py-1 lg:w-1/2 border border-gray-300" required />
          {% if v_error and v_error[0] and v_error[0].errors and v_error[0].errors.form.quantity %}
          <span class="text-red-500">
            {{ v_error[0].errors.form.quantity[0] }}
          </span>
          {% endif %}
        </div>
      </div>
      <div class="my-3">
        <label class="text-sm block">
          Category <span class="text-red-500">*</span>
        </label>
        <div class="mt-2">
          <select name="category_id" class="px-2 py-1 md:w-1/2 border border-gray-300 rounded" required>
            {% for category in categories %}
            <option value="{{category.id}}" {{ 'selected' if category.id==product.category_id else '' }}>
              {{ category.name}}
            </option>
            {% endfor %}
          </select>
          {% if v_error and v_error[0] and v_error[0].errors and v_error[0].errors.form.category_id %}
          <span class=" text-red-500">
            {{ v_error[0].errors.form.category_id[0] }}
          </span>
          {% endif %}
        </div>
      </div>
      <div class="mt-6">
        <button type='submit' class="p-2 bg-blue-500 text-white text-sm rounded">Update Product</button>
      </div>
    </form>
  </div>
</section>
{% endwith %}
{% endblock %}
